#name {
  color: #ff00a5;
  font-family: 'Source Code Pro', serif;
  font-size: 72px;
}

#about, #viewAll {
  font-family: 'Source Code Pro', serif;
  font-size: 18px;
}

#tagLine {
  font-family: 'Source Code Pro', serif;
  font-size: 16px;
}

.border {
  border: 2px;
  padding-top: 15px;
}